@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-primary {
    @apply text-gray-900;
  }

  .text-secondary {
    @apply text-gray-700;
  }

  .text-tertiary {
    @apply text-gray-500;
  }
  .border-primary {
    @apply border-gray-200;
  }
}

@layer components {
  .btn {
    @apply inline-block px-4 py-2 text-sm text-center text-white transition duration-200 ease-in-out bg-gray-900 border border-gray-700 rounded-md shadow-sm active:bg-gray-600 hover:shadow-lg focus:ring-4 focus:ring-gray-300 text-opacity-95 hover:text-opacity-100;
  }
  .btn-light {
    @apply inline-block px-4 py-2 text-sm antialiased font-semibold text-center transition duration-200 ease-in-out bg-white border rounded-md shadow-sm active:bg-gray-200 hover:bg-gray-100 focus:ring-2 focus:ring-gray-300 text-tertiary text-opacity-95 hover:text-opacity-100;
  }
  .btn-primary {
    @apply inline-block px-4 py-2 text-sm antialiased font-semibold text-center text-white transition duration-300 ease-in-out rounded-md shadow-sm focus:ring-2 text-opacity-95 hover:scale-105 hover:shadow-lg;
  }
}

svg {
  display: inline;
}

.svg-icon {
  width: 1.7em;
  height: 1.7em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #6d83f2;
}

.svg-icon circle {
  stroke: #6d83f2;
  stroke-width: 1;
}

.primary-grad {
  background: linear-gradient(134deg, #6a98f0 0%, #4961dc 99%);
}
