@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply inline-block px-4 py-2 text-sm antialiased font-semibold text-center text-white transition duration-300 ease-in-out rounded-md shadow-sm focus:ring-2 text-opacity-95 hover:scale-105 hover:shadow-lg;
  }
}

@layer utilities {
  .text-primary {
    @apply text-gray-900;
  }

  .text-secondary {
    @apply text-gray-700;
  }

  .text-tertiary {
    @apply text-gray-500;
  }

  .border-primary {
    @apply border-gray-200;
  }

  .primary-grad {
    background: linear-gradient(134deg, #6a98f0 0%, #4961dc 99%);
  }

  /**** Scroll Bar ****/
  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-track {
    background: #f7f4ed;
  }

  body::-webkit-scrollbar-thumb {
    background: #6d83f2;
  }

  body::-webkit-scrollbar-thumb:hover {
    background: #6a98f0;
  }
}
/**** Scroll Bar ****/

/**** Prevent Chrome Flash ****/
body {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}
/**** Prevent Chrome Flash ****/

/****  SVG's ****/
svg {
  display: inline;
}

.svg-icon {
  width: 1.7em;
  height: 1.6em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #6d83f2;
}

.svg-icon circle {
  stroke: #6d83f2;
  stroke-width: 1;
  fill: #6d83f2;
}
/****  SVG's ****/

/**** Carousel Homepage ****/
.slick-track {
  min-width: 6000px;
  margin-left: auto;
  transform: translate3d(-1380px, 0px, 0px);
}

.slick-prev:before {
  cursor: not-allowed;
  content: "";
  display: none;
}

.slick-next:before {
  cursor: not-allowed;
  content: "";
  display: none;
}

.slick-slide {
  max-width: 236px;
  min-width: 236px;
}
/**** Carousel Homepage ****/

/**** PlaceholderBlur Homepage ****/
.unblur {
  animation: unblur 1s linear;
}

@keyframes unblur {
  from {
    filter: blur(20px);
  }
  to {
    filter: blur(0);
  }
}
/**** PlaceholderBlur Homepage ****/

.toggle-active {
  transform: translateX(84%);
}
